.load {
    display: flex;
    flex-direction: row;
}
.load img{
    width:100%;
    height:400px;
    background-color: yellow;
}
.description-sec {
    padding: 20px;
}
.price {
    font-size: 30px;
    color: rgb(198, 117, 3);
    font-weight: 700;
}